/* Coolors Exported Palette - coolors.co/cff2f4-25ced1-ff8a5b-ea96a5-bbc5aa */

/* HSL */
$color1: hsla(183%, 63%, 88%, 1);
$color2: hsla(181%, 70%, 48%, 1);
$color3: hsla(17%, 100%, 68%, 1);
$color4: hsla(349%, 67%, 75%, 1);
$color5: hsla(82%, 19%, 72%, 1);

/* RGB */
$color1: rgba(207, 242, 244, 1);
$color2: rgba(37, 206, 209, 1);
$color3: rgba(255, 138, 91, 1);
$color4: rgba(234, 150, 165, 1);
$color5: rgba(187, 197, 170, 1);