.container {
  padding-bottom: 50px;
}

#map {
  height: 600px;
  margin-top: 20px;
}

#info {
  height: 600px;
}

body {
  background-color: rgb(198, 243, 245);
}

span {
  font-weight: bold;
  text-shadow: 1px 1px #494949;
}

.yellow {
  color: rgb(238, 255, 0);
}

.orange {
  color: rgb(255, 187, 0);
}

.red {
  color: rgb(255, 0, 0);
}

buttons {
  align-items: center;
}