.container {
  padding-bottom: 50px;
}

#map {
  height: 600px;
  margin-top: 20px;
}

#info {
  height: 600px;
}

body {
  background-color: rgb(198, 243, 245);
}

span {
  font-weight: bold;
  text-shadow: 1px 1px #494949;
}

.purple {
  color: rgb(124, 1, 206);
}

.blue {
  color: rgb(2, 80, 226);
}

.green {
  color: rgb(1, 197, 17);
}

.yellow {
  color: rgb(238, 255, 0);
}

.orange {
  color: rgb(255, 187, 0);
}

.red {
  color: rgb(255, 0, 0);
}

.container-interaction {
  display: flex;
}

h1 {
  margin-top: 10px;
  font-size: 23px;
}

button {
  width: 90px;
  margin-top: 10px;
  border-radius: 15px;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 3px;
}
#date {
  background-color: rgba(255, 138, 91, 1);
}
#magnitude {
  background-color: rgba(234, 150, 165, 1);
}
#weekly {
  background-color: rgba(187, 197, 170, 1);
}
#monthly {
  background-color: rgba(37, 206, 209, 1);
}

.leftCol {
  margin-left: 30px;
}
.rightCol {
  margin-left: auto;
  margin-right: 30px;
}
